<ion-header>
    <ion-toolbar color="primary">
        <ion-title>NUEVO</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cerrarModal()" slot="start">
                <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
            </ion-button>

            <ion-button (click)="cerrarModal()" slot="start">
                <ion-label>
                    <h3>CANCELAR</h3>
                </ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="grid-max-width700" class="ion-no-padding">
        <form (ngSubmit)="nuevoRepuesto(fRepuesto)" #fRepuesto="ngForm">
            <ion-row>
                <ion-col size="12">
                    <ion-item lines="full">
                        <ion-label color="primary">Descripcion:</ion-label>
                        <ion-input [(ngModel)]="nuevoRep.descripcion" name="descripcion" type="text" required class="ion-text-capitalize"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item lines="full">
                        <ion-label color="primary">Parte:</ion-label>
                        <ion-input [(ngModel)]="nuevoRep.numParte" name="parte" type="text" required class="ion-text-uppercase"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" *ngIf="!nuevaCat">
                    <ion-item lines="full">
                        <ion-label color="primary">Categoria:</ion-label>
                        <ion-select required placeholder="Seleccionar" name="categoria" [(ngModel)]="nuevoRep.categoria._id" interface="popover" class="ion-text-capitalize">
                            <ion-select-option *ngFor="let cat of categ" value="{{ cat._id }}" class="ion-text-capitalize">{{ cat.descripcion }}
                            </ion-select-option>
                        </ion-select>
                        <ion-button color="primary" (click)="agregarCat()">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" *ngIf="nuevaCat">
                    <ion-item lines="full">
                        <ion-label color="primary">Categoria:</ion-label>
                        <ion-input [(ngModel)]="nuevoRep.categoria.descripcion" name="categoria" type="text" required class="ion-text-capitalize"></ion-input>
                        <ion-button color="primary" (click)="crearCat()" *ngIf="boton">Guardar</ion-button>
                        <ion-button color="primary" (click)="agregarCat()">
                            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <ion-item lines="full" *ngIf="!nuevaMarca">
                        <ion-label color="primary">Marca:</ion-label>
                        <ion-select placeholder="Seleccionar" name="marcas" [(ngModel)]="nuevoRep.marca" interface="popover" class="ion-text-capitalize">
                            <ion-select-option *ngFor="let marca of marcas" value="{{ marca._id }}" required class="ion-text-capitalize">{{ marca._id }}
                            </ion-select-option>
                        </ion-select>
                        <ion-button color="primary" (click)="agregarMarca()">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item lines="full" *ngIf="nuevaMarca">
                        <ion-label color="primary">Marca:</ion-label>
                        <ion-input [(ngModel)]="nuevoRep.marca" name="marca" type="text" required class="ion-text-capitalize"></ion-input>
                        <ion-button color="primary" (click)="boton2off()" *ngIf="boton2">Guardar</ion-button>
                        <ion-button color="primary" (click)="agregarMarca()">
                            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <ion-item lines="full">
                        <ion-label color="primary">Precio:</ion-label>
                        <ion-input [(ngModel)]="nuevoRep.precioVenta" name="parte" type="text" required class="ion-text-uppercase"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                    <ion-item lines="full">
                        <ion-label color="primary">Costo:</ion-label>
                        <ion-input [(ngModel)]="nuevoRep.precioCosto" name="parte" type="text" required class="ion-text-uppercase"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="ion-text-center top50">
                    <ion-button type="submit" size="default" [disabled]="fRepuesto.invalid">
                        <ion-label>GUARDAR</ion-label>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>