<ion-header>
    <ion-toolbar color="primary">
        <ion-title>CATEGORIA</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="editar()" *ngIf="editState">
                <ion-label>
                    <h3>EDITAR</h3>
                </ion-label>
            </ion-button>
            <ion-button type="submit" (click)="actualizar()" *ngIf="!editState">
                <ion-label>
                    <h3>GUARDAR</h3>
                </ion-label>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button (click)="cerrarModal()">
                <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button type="submit" (click)="cerrarModal()" *ngIf="!editState">
                <ion-label>
                    <h3>CANCELAR</h3>
                </ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <ion-item lines="full">
                    <ion-label color="primary">Descripcion:</ion-label>
                    <ion-input [(ngModel)]="categoria.descripcion" name="nombre" type="text" readonly [readonly]="editState" class="ion-text-capitalize"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item lines="full">
                    <ion-label color="primary">Tipo:</ion-label>
                    <ion-input [(ngModel)]="categoria.tipo" name="TIPO" type="text" readonly [readonly]="editState" class="ion-text-capitalize"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>