<app-header titulo="Mi Perfil"></app-header>

<ion-content>
    <ion-grid class="grid-max-width">
        <ion-row class="top-20">
            <ion-col size="12" class="ion-text-center">
                <img src="assets/avatars/av-8.png" class="img-avatar" />
            </ion-col>
        </ion-row>

        <form (ngSubmit)="actualizar(fActualizar)" #fActualizar="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark" position="fixed">Email:</ion-label>
                            <ion-input [(ngModel)]="userPerfil.email" name="email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
                        </ion-item>

                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark" position="fixed">Nombre</ion-label>
                            <ion-input [(ngModel)]="userPerfil.nombre" name="nombre" type="text" required></ion-input>
                        </ion-item>
                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark" position="fixed">Teléfono:</ion-label>
                            <ion-input [(ngModel)]="userPerfil.telefono" name="telefono" type="text" required></ion-input>
                        </ion-item>
                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark" position="fixed">Función:</ion-label>
                            <ion-input [(ngModel)]="userPerfil.funcion" name="funcion" type="text" required Readonly></ion-input>
                        </ion-item>
                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark" position="fixed">Rol:</ion-label>
                            <ion-input [(ngModel)]="rol" name="role" type="text" Readonly></ion-input>
                        </ion-item>
                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark">Tecnico:</ion-label>
                            <ion-toggle [(ngModel)]="userPerfil.tecnico" name="tecnico"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <br />
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    <ion-button type="submit" color="primary" [disabled]="fActualizar.invalid">
                        <ion-label>GUARDAR</ion-label>
                    </ion-button>
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                    <ion-button (click)="logout()" color="danger" size="small">
                        <ion-label>SALIR</ion-label>
                    </ion-button>
                </ion-col>
            </ion-row>
            <br />
        </form>
    </ion-grid>
</ion-content>