<app-header titulo="Productos"></app-header>

<ion-content class="ion-no-padding">
    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item lines="none" class="ion-no-padding" *ngIf="bandera === 0" color="primary">
        <ion-list slot="end">
            <ion-item color="primary" lines="none">
                <ion-label>
                    <h4>ORDEN</h4>
                </ion-label>
                <ion-select name="filtro" value="descripcion" (ionChange)="ordenarPor($event)">
                    <ion-select-option value="descripcion">DESCRIPCION</ion-select-option>
                    <ion-select-option value="numParte">PARTE</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-list slot="end">
            <ion-item lines="none" color="primary">
                <ion-label>
                    <h3>MOSTRAR</h3>
                </ion-label>
                <ion-select name="filtro" value="10" (ionChange)="cambioFiltro($event)">
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="10">10</ion-select-option>
                    <ion-select-option value="15">15</ion-select-option>
                    <ion-select-option value="20">20</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-item>

    <ion-searchbar placeholder="Buscar Producto" inputmode="decimal" type="decimal" debounce="700" animated [value]="textoBuscar" (ionChange)="buscar( $event )"></ion-searchbar>

    <!-- todos los productos -->
    <ion-list *ngIf="bandera === 0">
        <ion-item *ngFor="let producto of productos;let i = index" button (click)="verDetalle( producto._id )" lines="full">
            <!-- <ion-icon slot="start" name="ellipse-outline" color="medium" size="large"></ion-icon> -->
            <ion-label lines="full">
                <h2>{{producto.descripcion | uppercase }}</h2>
                <p class="x-small">{{producto.numParte | uppercase}} - {{producto.categoria.descripcion | uppercase}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- resultado busqueda -->
    <ion-list *ngIf="bandera === 1">
        <ion-item *ngFor="let producto of buscaProductos; let i = index" button (click)="verDetalle( producto._id )" lines="full">
            <!-- <ion-icon slot="start" name="ellipse-outline" color="medium" size="large"></ion-icon> -->
            <ion-label lines="full">
                <h2>{{producto.descripcion | uppercase }}</h2>
                <p class="x-small">{{producto.numParte | uppercase}} - {{producto.categoria.descripcion | uppercase}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!-- si no hay nada -->
    <ion-list *ngIf="nada">
        <ion-grid>
            <ion-row>
                <ion-col class="ion-text-center">
                    <label> No se encontró ningun producto 😢</label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <ion-grid fixed>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-spinner name="dots" *ngIf="buscando"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="bottom20 right20">
        <ion-fab-button (click)="onClick()" color="primary">
            <ion-icon name="add" size="large"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer *ngIf="bandera === 0">
    <ion-toolbar color="primary" class="ion-no-padding">
        <ion-item color="primary" class="ion-text-center" lines="none">
            <ion-button [disabled]="pagina === 1" (click)="siguientes('atras')" color="primary" slot="start" size="default">
                <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
            <ion-label>
                <h3>PAGINA {{pagina}} DE {{totalpag}}</h3>
            </ion-label>
            <ion-button [disabled]="pagina === totalpag" (click)="siguientes('siguiente')" color="primary" slot="end" size="default">
                <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-toolbar>
</ion-footer>