<ion-header>
    <ion-toolbar color="primary" class="paddingHeader">
        <ion-buttons slot="start" class="safeArea">
            <ion-menu-button menu="menuPrincipal" auto-hide></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-uppercase fuente safeArea">{{ titulo }}</ion-title>

        <ion-button color="light" routerLink="/perfil" fill="clear" slot="end">
            <ion-label>{{ usuario.nombre }} <br />
                <h4>{{ usuario.email }}</h4>
            </ion-label>
        </ion-button>

        <ion-button color="light" routerLink="/perfil" fill="clear" slot="end">
            <ion-avatar>
                <img src="../../../assets/avatars/av-8.png" />
            </ion-avatar>
        </ion-button>
    </ion-toolbar>
</ion-header>