.crearRep,
.crearRep ion-slide {
    width: 100%;
    height: 100%;
}

ion-card-title {
    font-size: large !important;
}

ion-item {
    font-size: small !important;
}

img {
    width: 120px;
}

.titulo {
    font-size: large !important;
    font-weight: bold !important;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

.tablaAncho {
    width: 90% !important;
}

ion-select::part(placeholder),
ion-select::part(text) {
    flex: 0 0 auto;
}

ion-select {
    max-width: 100% !important;
}

ion-img {
    border-radius: 10px !important;
}

.left {
    text-align: end !important;
    font-size: medium !important;
}

.partes {
    margin-bottom: -6px !important;
    margin-top: -6px !important;
}

.borde {
    border-left: 1px solid #4aa3a7;
}