<app-header titulo="Categorías"></app-header>

<ion-content [scrollEvents]="true" class="ion-no-padding">
    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-segment (ionChange)="cambio($event)" value="productos" scrollable>
        <ion-segment-button value="productos">
            <ion-icon name="cube" color="primary"></ion-icon>
            <ion-label color="primary">PRODUCTOS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="repuestos">
            <ion-icon name="hardware-chip" color="primary"></ion-icon>
            <ion-label color="primary">REPUESTOS</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="vistaCat">
        <ion-item-sliding *ngFor="let cat of categ;let i = index">
            <ion-item lines="full" (click)="editarCat(cat._id)">
                <ion-label>{{cat.descripcion | titlecase}} </ion-label>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option (click)="editarCat(cat._id)" color="warning">
                    <ion-icon slot="start" name="pencil"></ion-icon>
                    <label>Editar</label>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="borrarCat(cat._id, cat.descripcion )">
                    <ion-icon slot="start" name="trash"></ion-icon>
                    <label>Borrar</label>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="!vistaCat">
        <ion-item-sliding *ngFor="let cat2 of categ2;let i = index">
            <ion-item lines="full" (click)="editarCat(cat2._id)">
                <ion-label>{{cat2.descripcion | titlecase}} </ion-label>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option (click)="editarCat(cat2._id)" color="warning">
                    <ion-icon slot="start" name="pencil"></ion-icon>
                    <label>Editar</label>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="borrarCat(cat2._id, cat2.descripcion )">
                    <ion-icon slot="start" name="trash"></ion-icon>
                    <label>Borrar</label>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="bottom20 right20">
        <ion-fab-button (click)="onClick()" color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>