<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="negrita">PROBLEMAS</ion-title>
        <ion-buttons slot="start">
            <ion-button slot="end">
                <ion-icon name="alert-circle" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">
                <ion-icon slot="end" name="close" size="large" slot="icon-only" shape="round"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="5">
                <ion-list *ngIf="!switchProb">
                    <ion-item *ngFor="let categ of catProblemas" button (click)="abrirProb(categ._id)" class="negrita" color="secondary" lines="full">
                        <ion-label>
                            {{ categ._id | uppercase }}
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="7">
                <ion-list *ngIf="!switchProb">
                    <ion-item color="light" lines="full" color="medium">
                        <ion-label class="negrita">
                            <h2 class="negrita">{{ probTitulo | uppercase }}</h2>
                        </ion-label>
                    </ion-item>
                    <ion-item *ngFor="let prob of problemas" button (click)="problemaSel(prob._id, prob.descripcion, probTitulo)" color="light" lines="full">
                        <ion-label>
                            {{ prob.descripcion | uppercase }}
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid fixed *ngIf="!switchProb">
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-button (click)="switchNuevoProb()" color="secondary"> AGREGAR </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-card *ngIf="switchProb">
        <ion-card-header color="secondary">
            <ion-label>
                <h2 class="negrita">NUEVO PROBLEMA</h2>
            </ion-label>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" *ngIf="!boton">
                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark">Categoria:</ion-label>
                            <ion-select placeholder="Seleccionar" name="categoria" [(ngModel)]="nuevoProblema.categoria" required interface="popover" class="ion-text-capitalize">
                                <ion-select-option *ngFor="let cat of catProblemas" value="{{ cat._id }}" required class="ion-text-capitalize">{{ cat._id }}
                                </ion-select-option>
                            </ion-select>
                            <ion-button color="secondary" (click)="botonNuevo()">
                                <ion-icon slot="icon-only" name="add"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item lines="full" *ngIf="boton">
                            <ion-label class="negrita" color="dark">Categoria:</ion-label>
                            <ion-input [(ngModel)]="nuevoProblema.categoria" name="categoria" type="text" required class="ion-text-uppercase"></ion-input>
                            <ion-button color="secondary" (click)="botonNuevo()">
                                <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item lines="full">
                            <ion-label class="negrita" color="dark">Descripcion:</ion-label>
                            <ion-input [(ngModel)]="nuevoProblema.descripcion" name="descripcion" type="text" required class="ion-text-uppercase"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" class="ion-text-center">
                        <ion-button (click)="crearCat()" color="secondary"> Guardar </ion-button>
                        <ion-button (click)="switchNuevoProb()" color="danger"> Cancelar </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>