:root {
    --ion-background-color: #e6e9f2 !important;
    ion-item {
        font-size: medium;
        --min-height: 0px;
    }
    ion-col {
        font-size: medium;
    }
    ion-grid {
        ion-row {
            ion-col {
                &.long-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    ion-modal.fullscreen {
        --width: 100%;
        --height: 100%;
        --border-radius: 0;
    }
    ion-modal.smallscreen {
        --width: 40%;
        --height: 50%;
    }
}

:host {
    ion-item {
        min-height: 0px !important;
    }
}

.paddingBorde {
    padding-left: 7px !important;
}

.even {
    background-color: #fff !important;
    border-left: 1px solid #4aa3a7;
    border-right: 1px solid #4aa3a7;
}

.odd {
    border-left: 1px solid #4aa3a7;
    border-right: 1px solid #4aa3a7;
}

.tablaHeader {
    font-weight: bold;
    color: #fff;
    background-color: #4aa3a7;
}

.tablaFooter {
    font-weight: bold;
    color: #e6e9f2;
    background-color: #4aa3a7;
}

// .customToastClass {
//     width: 40% !important;
//     margin-left: 50%;
//     margin-top: 1%;
//     font-size: small;
// }