<ion-header>
    <ion-toolbar color="primary">
        <ion-title>NUEVO</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cerrarModal()" slot="start">
                <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
            </ion-button>

            <ion-button (click)="cerrarModal()" slot="start">
                <ion-label>
                    <h3>CANCELAR</h3>
                </ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="grid-max-width700" class="ion-no-padding">
        <form (ngSubmit)="nuevaCategoria(fCategoria)" #fCategoria="ngForm">
            <ion-row>
                <ion-col size="12">
                    <ion-item lines="full">
                        <ion-label class="negrita" color="dark">Descripcion:</ion-label>
                        <ion-input [(ngModel)]="nuevaCat.descripcion" name="descripcion" type="text" required class="ion-text-uppercase"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label class="negrita" color="dark">Tipo:</ion-label>
                        <ion-select id="tipo" name="tipo" [(ngModel)]="nuevaCat.tipo" value="Tipo" interface="popover" required class="ion-text-uppercase">
                            <ion-select-option value="producto" class="ion-text-capitalize">PRODUCTO</ion-select-option>
                            <ion-select-option value="repuesto" class="ion-text-capitalize">REPUESTO</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <br />
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    <ion-button type="submit" [disabled]="fCategoria.invalid" size="default">
                        <ion-label>
                            <h3>GUARDAR</h3>
                        </ion-label>
                    </ion-button>
                </ion-col>
            </ion-row>
            <br />
        </form>
    </ion-grid>
</ion-content>