<ion-content class="ion-align-items-center">
    <ion-slides class="mainSlide" #slidePrincipal>
        <ion-slide>
            <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
                <ion-grid class="grid-max-width">
                    <ion-row>
                        <ion-col size="12">
                            <img src="/assets/avatars/av-8.png" />
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-item>
                                    <ion-label color="dark" class="negrita">Email</ion-label>
                                    <ion-input [(ngModel)]="loginUser.email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required size="200px"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label color="dark" class="negrita">Password</ion-label>
                                    <ion-input [(ngModel)]="loginUser.password" name="password" type="password" required></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button class="ion-text-uppercase" type="submit" color="success" shape="round" [disabled]="fLogin.invalid">
                                Iniciar Sesion
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-slide>

        <ion-slide>
            <ion-grid class="grid-max-width">
                <ion-row>
                    <ion-col>
                        <h3>Ingresa tus datos</h3>
                    </ion-col>
                </ion-row>

                <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
                    <ion-row>
                        <ion-col>
                            <ion-list>
                                <ion-item>
                                    <ion-label class="negrita" color="dark">Email</ion-label>
                                    <ion-input name="email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="registerUser.email"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label class="negrita" color="dark">Nombre</ion-label>
                                    <ion-input name="nombre" type="text" required [(ngModel)]="registerUser.nombre"></ion-input>
                                </ion-item>

                                <ion-item>
                                    <ion-label class="negrita" color="dark">Telefono</ion-label>
                                    <ion-input name="telefono" type="text" required [(ngModel)]="registerUser.telefono"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="negrita" color="dark">Password</ion-label>
                                    <ion-input name="password" type="password" required [(ngModel)]="registerUser.password"></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button class="ion-text-uppercase" color="success" type="submit" shape="round" [disabled]="fRegistro.invalid">
                                Crear usuario
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="primary">
        <ion-grid class="grid-max-width">
            <ion-row class="ion-text-uppercase">
                <ion-col>
                    <ion-button (click)="mostrarRegistro()" shape="round" expand="full" fill="outline" color="light">
                        Ingresar
                    </ion-button>
                </ion-col>

                <ion-col class="ion-align-items-center">
                    <ion-button (click)="mostrarLogin()" shape="round" expand="full" fill="outline" color="light">
                        Registrarme
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>