<app-header titulo="clientes"></app-header>

<ion-content class="ion-no-padding">
    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-searchbar placeholder="Buscar Cliente" inputmode="decimal" type="decimal" debounce="700" animated [value]="textoBuscar" (ionChange)="buscar( $event )"></ion-searchbar>

    <!-- todos los clientes -->
    <ion-list *ngIf="bandera === 0">
        <ion-item *ngFor="let cliente of clientes; let i = index" button (click)="verDetalle( cliente._id )" lines="full">
            <ion-icon slot="start" name="person-circle" color="medium" size="large"></ion-icon>
            <ion-label lines="full"> {{cliente.nombre | titlecase }} </ion-label>
        </ion-item>
    </ion-list>
    <br />
    <ion-item lines="none" class="ion-text-center" *ngIf="bandera === 0" color="primary">
        <ion-button *ngIf="pagina !== 1" (click)="siguientes('atras')" color="primary" slot="start">
            <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
        <ion-item lines="none" color="primary">
            <ion-label>Pag. {{pagina}}/{{total_pag}} </ion-label>
        </ion-item>
        <ion-list slot="end">
            <ion-item lines="none" color="primary">
                <ion-icon name="list"></ion-icon>
                <ion-select name="filtro" value="10" (ionChange)="cambioFiltro($event)">
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="10">10</ion-select-option>
                    <ion-select-option value="15">15</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-button *ngIf="pagina !== total_pag" (click)="siguientes('siguiente')" color="primary" slot="end">
            <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
        </ion-button>
    </ion-item>

    <!-- resultado busqueda -->

    <ion-list *ngIf="bandera === 1">
        <ion-item *ngFor="let cliente of buscaClientes; let i = index" button (click)="verDetalle( cliente._id )">
            <ion-icon slot="start" name="person" color="medium"></ion-icon>
            <ion-label lines="full"> {{cliente.nombre | titlecase }} </ion-label>
        </ion-item>
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-spinner name="dots" *ngIf="buscando"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- si no hay nada -->
    <ion-list *ngIf="nada">
        <ion-grid>
            <ion-row>
                <ion-col class="ion-text-center">
                    <label> No se encontro ningun cliente 😢</label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="bottom20 right20">
        <ion-fab-button (click)="onClick()" color="primary">
            <ion-icon name="add" size="large"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>