.tamano {
    height: 100px;
}

.top-15 {
    margin-top: -15px;
}

.fuenteChica {
    font-size: x-small !important;
}

ion-select::part(placeholder),
ion-select::part(text) {
    flex: 0 0 auto;
}

ion-select {
    max-width: 100% !important;
}