.izquierda15 {
    margin-left: 15px;
}

.izquierda10 {
    margin-left: 10px;
}

.top15 {
    margin-top: 15px;
}

.bottom15 {
    margin-bottom: 15px;
}

.tamanoS {
    font-size: smaller;
}

.fuente {
    font-size: x-large;
    font-weight: bold;
}