<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="negrita">Agregar Nota</ion-title>
        <ion-buttons slot="start">
            <ion-button slot="end">
                <ion-icon name="pricetags" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">
                <ion-icon slot="end" name="close" size="large" slot="icon-only" shape="round"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="grid-max-width700" class="ion-no-padding">
        <form (ngSubmit)="nuevaNota(fNota)" #fNota="ngForm">
            <ion-row>
                <ion-col size="12">
                    <ion-item lines="full">
                        <ion-label class="negrita" color="dark">Descripcion:</ion-label>
                        <ion-input [(ngModel)]="nuevaNot.descripcion" name="descripcion" type="text" required class="ion-text-uppercase"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label class="negrita" color="dark">Tipo:</ion-label>
                        <ion-input type="text" name="tipo" [(ngModel)]="nuevaNot.tipo" readonly class="ion-text-uppercase"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center top50">
                    <ion-button type="submit" color="success" shape="round" [disabled]="fNota.invalid">
                        <ion-label>GUARDAR</ion-label>
                    </ion-button>
                    <ion-button (click)="limpiar()" color="warning" shape="round">
                        <ion-label>LIMPIAR</ion-label>
                    </ion-button>
                    <ion-button (click)="cerrarModal()" color="danger" shape="round">
                        <ion-label>CANCELAR</ion-label>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>

        <ion-button (click)="verOBJ()"> ver objeto </ion-button>
    </ion-grid>
</ion-content>